@font-face {
	font-family: "game-icons";
	src: url('./game-icons.eot');
	src: url('./game-icons.eot?#iefix') format('eot'),
		url('./game-icons.woff') format('woff'),
		url('./game-icons.ttf') format('truetype'),
		url('./game-icons.svg#game-icons') format('svg');
}

.game-icon:before {
	font-family: "game-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.game-icon-gear-swap:before {
	content: "\E001";
}

.game-icon-menu-skills:before {
	content: "\E002";
}

.game-icon-status-dex-plus:before {
	content: "\E003";
}

.game-icon-status-stun:before {
	content: "\E004";
}

.game-icon-status-burn:before {
	content: "\E005";
}

.game-icon-global-money:before {
	content: "\E006";
}

.game-icon-menu-logout:before {
	content: "\E007";
}

.game-icon-status-blind:before {
	content: "\E008";
}

.game-icon-item-tier-3:before {
	content: "\E009";
}

.game-icon-extra-gps:before {
	content: "\E00A";
}

.game-icon-status-regenerate:before {
	content: "\E00B";
}

.game-icon-global-hp:before {
	content: "\E00C";
}

.game-icon-status-freeze:before {
	content: "\E00D";
}

.game-icon-menu-traits:before {
	content: "\E00E";
}

.game-icon-item-tier-1:before {
	content: "\E00F";
}

.game-icon-item-tier-2:before {
	content: "\E010";
}

.game-icon-menu-options:before {
	content: "\E011";
}

.game-icon-menu-player:before {
	content: "\E012";
}

.game-icon-menu-party:before {
	content: "\E013";
}

.game-icon-status-str-plus:before {
	content: "\E014";
}

.game-icon-skill-target:before {
	content: "\E015";
}

.game-icon-menu-inventory:before {
	content: "\E016";
}

.game-icon-skill-cooldown:before {
	content: "\E017";
}

.game-icon-status-mnt-plus:before {
	content: "\E018";
}

.game-icon-inventory-menu-item:before {
	content: "\E019";
}

.game-icon-global-mp:before {
	content: "\E01A";
}

.game-icon-menu-world:before {
	content: "\E01B";
}

.game-icon-inventory-menu-armor:before {
	content: "\E01C";
}

.game-icon-status-luk-plus:before {
	content: "\E01D";
}

.game-icon-status-acc-plus:before {
	content: "\E01E";
}

.game-icon-status-vit-plus:before {
	content: "\E01F";
}

.game-icon-inventory-menu-weapon:before {
	content: "\E020";
}

.game-icon-status-stealth:before {
	content: "\E021";
}

.game-icon-status-shock:before {
	content: "\E022";
}
